<nav class="navbar">

    <div class="nav-container">

        <button
            class="menu-toggle"
            id="menuToggle"
            type="button"
            aria-label="Open navigation menu"
        >
            ☰
        </button>

        <ul class="nav-links" id="navLinks">

            <li>
                <a href="index.html#home">Home</a>
            </li>

            <li>
                <a href="story.html">Our Story</a>
            </li>

            <li>
                <a href="index.html#wedding">Wedding Details</a>
            </li>

            <li>
                <a href="index.html#registry">Support Destiny + Sele</a>
            </li>

            <li>
                <a href="photos.html">Photos</a>
            </li>

            <li>
                <a href="#" onclick="openProposalVideo(); return false;">
                    Proposal Video
                </a>
            </li>

        </ul>

    </div>

</nav>